.fixed .column-hits {
    width: 50px !important;
    padding: 8px 0;
    text-align: left;
}

.fixed .column-online {
    width: 50px !important;
    padding: 8px 0;
    text-align: left;
}

td.hits_chart .chart-container {
    width: 100px;
    height: 30px;
}

th#hits_chart {
    width: 120px;
}

table.wp-list-table.widefat.fixed.striped.posts th#hits {
    text-align: center;
}

span.counter_span.inc_user:before {
    content: "+";
    color: #11b900;
    font-size: 16px;
}
span.counter_span.dec_user:before {
    content: "-";
    color: red;
    font-size: 16px;
}
span.counter_span.dec_user {
    color: red;
}
span.counter_span.inc_user {
    color: #11b900;
}
.wsmBoxUPDdataTIP {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 1px 2px;
    font-family: Arial;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    background-color: #393;
    position: relative;
    z-index: 100;
    left: 0;
    top: 0; 
    display: none;
    -moz-box-shadow: 1px 1px 4px #333;
    -webkit-box-shadow: 1px 1px 4px #333;
    box-shadow: 1px 1px 4px #333;
    margin-left: 2px;
    line-height:normal;
}
.wp-list-table .wsmBoxUPDdataTIP {
    display: inline-block;
	visibility:hidden;
	margin:0 5px;
}
span.wsmBoxUPDdataTIP.live_counter.alert{
	background-color:red;
}
span.wsmBoxUPDdataTIP.live_counter.visible{
	visibility:visible;
}
td.hits_chart.column-hits_chart {
/*    vertical-align: middle;*/
}
div#chartjs-tooltip{
			opacity: 1;
			position: absolute;
			background: rgba(0, 0, 0, .7);
			color: white;
			border-radius: 3px;
			-webkit-transition: all .1s ease;
			transition: all .1s ease;
			pointer-events: none;
			-webkit-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
			width:130px;
			margin-top:5px;
		}
		div#chartjs-tooltip td {
		    color: #fff;
		    font-size: 12px;
		    padding: 0;
		}
		.chartjs-tooltip-key {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin-right: 5px;
		}
		body.rtl span.chartjs-tooltip-key {
		    margin-right: 0;
		    margin-left: 5px;
		}
		div#chartjs-tooltip:before {
		    content: "";
		    border-left: 5px solid transparent;
		    width: 0;
		    height: 0;
		    text-align: center;
		    position: absolute;
		    top: -5px;
		    left: calc( 50% - 7px );
		    border-bottom: 5px solid rgba(0,0,0,0.7);
		    border-right: 5px solid transparent;
		}